/* NavBar CSS */
.rounded-header {
  border-radius: 40px;
  background-color: rgba(255, 254, 254, 0.212);
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.575));
  border-radius: 10px solid #ffffff;
  backdrop-filter: blur(10px);
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 55%;
  border: 1px solid rgb(255, 255, 255);
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 30px;
  color: rgb(0, 0, 0);
}

/* Rider Details Card Css */
.rider-details-container {
  display: flex;
  justify-content: space-around;
  border-radius: 40px;
  background-color: rgba(255, 254, 254, 0.212);
  border-radius: 10px solid #ffffff;
  backdrop-filter: blur(10px);
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 80%;
  height: fit-content;
  font-size: 25px;
  border: 1px solid rgb(255, 255, 255);
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.575));
  line-height: 35px;
}

.rider-card {
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px;
  width: 100%;
  margin: 10px;
}

/*Graph container*/
.graph-container {
  display: flex;
  justify-content: space-evenly;
  width: 87%;
  margin: auto;
}

/* Heart Beat Container*/
.heart-beat-container {
  border-radius: 40px;
  background-color: rgba(255, 254, 254, 0.212);
  border-radius: 10px solid #ffffff;
  backdrop-filter: blur(10px);
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 80%;
  height: fit-content;
  font-size: 25px;
  border: 1px solid rgb(255, 255, 255);
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.575));
  line-height: 35px;
  margin: 5px;
}

.heart-beat-card {
  background-color: #ffffff8e;
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px;
}

.heart-rate-title {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50%;
}
.heart-rate {
  position: absolute;
  top: 0;
}

.heart-rate-time {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 50px;
}

/* Accident Detail Card css */
.accident-detail-container {
  display: flex;
  justify-content: space-around;
  border-radius: 40px;
  background-color: rgba(255, 254, 254, 0.212);
  border-radius: 10px solid #ffffff;
  backdrop-filter: blur(10px);
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 80%;
  height: fit-content;
  font-size: 25px;
  border: 1px solid rgb(255, 255, 255);
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.575));
  line-height: 35px;
}

.accident-card {
  background-color: #ffffff8e;
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px;
  width: 100%;
  margin: 10px;
}

/*meter-container*/
.meter-row {
  display: flex;
}
/* Speed Meter Css */
.speed-meter-container {
  border-radius: 40px;
  background-color: rgba(255, 254, 254, 0.212);
  border-radius: 10px solid #ffffff;
  backdrop-filter: blur(10px);
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: fit-content;
  height: fit-content;
  font-size: 25px;
  border: 1px solid rgb(255, 255, 255);
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.575));
  line-height: 35px;
  margin: 5px;
}

.meter-title {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  margin: 0;
}

.angle-meter-container {
  border-radius: 40px;
  background-color: rgba(255, 254, 254, 0.212);
  border-radius: 10px solid #ffffff;
  backdrop-filter: blur(10px);
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: fit-content;
  height: fit-content;
  font-size: 25px;
  border: 1px solid rgb(255, 255, 255);
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.575));
  line-height: 35px;
  margin: 5px;
}

/*responsive*/

@media (max-width: 800px) {
  * {
    font-size: 20px;
  }
  .name {
    font-size: 22px;
  }
  .graph-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0 40px 0 30px;
  }

  .heart-beat-container {
    width: 90%;
  }

  .meter-container {
    display: flex;
    justify-content: space-around;
  }
  .meter-row {
    display: flex;
    flex-direction: column;
  }
  .rider-details-container {
    flex-direction: column;
    justify-content: center;
  }

  .rider-card {
    margin: 10px;
    justify-self: center;
    width: 90%;
  }
  .accident-detail-container {
    flex-direction: column;
    justify-content: center;
  }

  .accident-card {
    margin: 10px;
    justify-self: center;
    width: 90%;
  }
}

/* loading animation for loading data */
.pl {
  width: 2em;
  height: 2em;
  margin: auto;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #f42f25;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #ffdd00;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #255ff4;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #2cf425;
}

/* Animations */
@keyframes ringA {
  from,
  4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%,
  54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%,
  to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from,
  12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%,
  62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%,
  to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%,
  58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from,
  8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%,
  50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}
